## B. Other sources of data from GEO.
### I focus on blood-related other aging datasets first, because I think that blood exhibits clear aging signatures.

1. GSE162950: (elefanty) iPSC to HSC diff --> can be a very "young" blood age
2. GSE162950: single-cell transcriptome map of human hematopoietic tissues from 1st trimester to birth
3. GSE192740: CITE-seq data , Nuclei RNA-seq data and single cell RNA-seq data on CD45+ and CD45- cells isolated from the livers of mice fed a standard diet (SD) or western diet (WD; fat, cholesterol and sugar), from healthy and steatotic human livers, from hamster liver, pig liver, chicken liver, monkey liver and zebrafish liver
4. (already in cellxgene) AIDA: 1,265,624 circulating immune cells from 619 donors, spanning 7 population groups across 5 Asian countries, and 6 controls
6. (already in cellxgene) hao 2021: integration of cite-seq data with scrna-seq, 211,000 human peripheral blood mononuclear cells (PBMCs) with panels extending to 228 antibodies
7. joung 2023: barcoded ORF library of 3,548 TF splice isoforms and developed a screening
platform to build a TF Atlas of >1 million cells (looks kinda bad)
8. liu 2022 (disco, heca): has blood and bone marrow available
9. ! lu 2022 weng: Heterogeneity and transcriptome changes of human CD8+ T cells across nine decades of life
10. mann 2018: Heterogeneous Responses of Hematopoietic Stem Cells to Inflammatory Stimuli Are Altered with Age
11. Sara Montserrat-Vazquez 2022: scRNA-seq of Lineage−(Cd11b−, Ter119−, Cd8−, Cd5−, B220−, Gr1−), C-kit+, Sca1+ BM cells (LSKs), which include all hematopoietic stem and progenitor cells in the BM (Supplementary Fig. 6a). A total of 15,856 LSK cells were obtained after the quality control and filtering (Supplementary Dataset 1), which divided into 13 clusters by using Seurat’s functions40 (Fig. 5a).
12. ! oetjen 2018: human bone marrow cells using both single-cell RNA sequencing and multiparameter flow cytometry from 20 healthy adult human donors across a broad age range
13. (already in cellxgene) perez 2022: We profiled more than 1.2 million peripheral blood mononuclear cells (162 cases, 99 controls) with multiplexed single-cell RNA sequencing (mux-seq).

In [ ]:
15. terekhova 2023: Single-cell atlas of healthy human blood unveils age-related loss of NKG2C+GZMB-CD8+ memory T cells and accumulation of type 2 memory T cells
5. ainciburu 2023: enriched population of human hspcs obtained from young and elderly healthy individuals.
14. ( no age available )cheng, zhemin 2021: pan-cancer analysis of single myeloid cells from 210 patients across 15 human cancer types

SyntaxError: invalid syntax (3704634607.py, line 1)

### 2. Download

In [2]:
import seafront.datasets

1. ainciburu 2023

In [17]:
metadata, adata_combined = seafront.datasets.download("ainciburu2023")

Loaded metadata: 116955 rows
Reading GSM5460406_young1_filtered_feature_bc_matrix.h5...
Reading GSM5460407_young2_filtered_feature_bc_matrix.h5...
Reading GSM5460408_young3_filtered_feature_bc_matrix.h5...
Reading GSM5460409_young4_filtered_feature_bc_matrix.h5...
Reading GSM5460410_young5_filtered_feature_bc_matrix.h5...
Reading GSM5460411_elderly1_filtered_feature_bc_matrix.h5...
Reading GSM5460412_elderly2_filtered_feature_bc_matrix.h5...
Reading GSM5460413_elderly3_filtered_feature_bc_matrix.h5...
Reading GSM6946065_mds1_filtered_feature_bc_matrix.h5...
Reading GSM6946066_mds2_filtered_feature_bc_matrix.h5...
Reading GSM6946067_mds3_filtered_feature_bc_matrix.h5...
Reading GSM6946068_mds4_filtered_feature_bc_matrix.h5...
Combined AnnData shape: (131709, 22164)
Saved to raw/GSE180298/GSE180298_combined.h5ad

In [19]:
data_combined

NameError: name 'data_combined' is not defined

In [16]:
adata_combined.obs

,sample_id,batch,patient_id,patient_age
AAACCTGAGAACAACT-1_GSM5460406_young1,GSM5460406_young1,0,young1,20
AAACCTGTCGGAAATA-1_GSM5460406_young1,GSM5460406_young1,0,young1,20
AAACGGGAGAGCTGCA-1_GSM5460406_young1,GSM5460406_young1,0,young1,20
AAACGGGAGATGCGAC-1_GSM5460406_young1,GSM5460406_young1,0,young1,20
AAACGGGAGGACTGGT-1_GSM5460406_young1,GSM5460406_young1,0,young1,20
...,...,...,...,...
TTTGTTGGTCTCCTGT-1_GSM6946068_mds4,GSM6946068_mds4,11,mds4,83
TTTGTTGGTCTGTCAA-1_GSM6946068_mds4,GSM6946068_mds4,11,mds4,83
TTTGTTGGTTTGAAAG-1_GSM6946068_mds4,GSM6946068_mds4,11,mds4,83
TTTGTTGTCGCAGAGA-1_GSM6946068_mds4,GSM6946068_mds4,11,mds4,83
TTTGTTGTCTATACGG-1_GSM6946068_mds4,GSM6946068_mds4,11,mds4,83

In [11]:
adata_combined.obs

                                              sample_id batch
AAACCTGAGAACAACT-1_GSM5460406_young1  GSM5460406_young1     0
AAACCTGTCGGAAATA-1_GSM5460406_young1  GSM5460406_young1     0
AAACGGGAGAGCTGCA-1_GSM5460406_young1  GSM5460406_young1     0
AAACGGGAGATGCGAC-1_GSM5460406_young1  GSM5460406_young1     0
AAACGGGAGGACTGGT-1_GSM5460406_young1  GSM5460406_young1     0
...                                                 ...   ...
TTTGTTGGTCTCCTGT-1_GSM6946068_mds4      GSM6946068_mds4    11
TTTGTTGGTCTGTCAA-1_GSM6946068_mds4      GSM6946068_mds4    11
TTTGTTGGTTTGAAAG-1_GSM6946068_mds4      GSM6946068_mds4    11
TTTGTTGTCGCAGAGA-1_GSM6946068_mds4      GSM6946068_mds4    11
TTTGTTGTCTATACGG-1_GSM6946068_mds4      GSM6946068_mds4    11

[131709 rows x 2 columns]

In [ ]:
MDS1	71
MDS2	54
MDS3	83
MDS4	83
Young1	20
Young2	23
Young3	20
Young4	19
Young5	23
Elderly1	61
Elderly2	74
Elderly3	72

In [ ]:
import os
import requests

os.makedirs("raw/GSE180298", exist_ok=True)

base_url = "https://ftp.ncbi.nlm.nih.gov/geo/series/GSE180nnn/GSE180298/suppl/"
filenames = [
    "GSE180298_RAW.tar",
    "GSE180298_elderly_metadata.txt.gz",
    "GSE180298_mds_metadata.txt.gz",
    "GSE180298_young_metadata.txt.gz",
]

# Download files
for fname in filenames:
    url = base_url + fname
    out_path = os.path.join("raw/GSE180298", fname)
    print(f"Downloading {fname}...")
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(out_path, "wb") as f:
            for chunk in r.iter_content(chunk_size=8192):
                f.write(chunk)
    print(f"Saved to {out_path}")

In [ ]:
import tarfile
import gzip
import shutil

tar_file_path = "/data2/florian/hackathon/raw/GSE180298/GSE180298_RAW.tar"
with tarfile.open(tar_file_path, "r") as tar:
    tar.extractall(path="raw/GSE180298")

# Untar the other gz files
gz_filenames = [
    "GSE180298_elderly_metadata.txt.gz",
    "GSE180298_mds_metadata.txt.gz",
    "GSE180298_young_metadata.txt.gz",
]

for gz_filename in gz_filenames:
    gz_file_path = os.path.join("raw/GSE180298", gz_filename)
    with gzip.open(gz_file_path, 'rb') as f_in:
        with open(gz_file_path[:-3], 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

In [ ]:
import os
import pandas as pd
import scanpy as sc
import anndata as ad

data_dir = "raw/GSE180298"
output_path = "raw/GSE180298_combined.h5ad"

# 1. Concatenate all metadata files
metadata_files = sorted([
    f for f in os.listdir(data_dir)
    if f.endswith("_metadata.txt")
])

metadata_list = []

for fname in metadata_files:
    full_path = os.path.join(data_dir, fname)
    df = pd.read_csv(full_path, sep="\t", index_col=0)
    metadata_list.append(df)

metadata = pd.concat(metadata_list, axis=0)
print(f"Loaded metadata: {metadata.shape[0]} rows")

# 2. Concatenate all .h5 matrices
h5_files = sorted([
    f for f in os.listdir(data_dir)
    if f.endswith(".h5")
])

adata_list = []

for h5_fname in h5_files:
    full_path = os.path.join(data_dir, h5_fname)
    sample_id = h5_fname.replace("_filtered_feature_bc_matrix.h5", "")
    print(f"Reading {h5_fname}...")

    adata = sc.read_10x_h5(full_path)

    # Ensure unique gene names immediately after loading
    adata.var_names_make_unique()
    assert adata.var_names.is_unique, f"var_names still not unique in {h5_fname}"

    # Make cell barcodes unique using GSM ID
    adata.obs_names = [f"{bc}_{sample_id}" for bc in adata.obs_names]
    adata.obs["sample_id"] = sample_id
    adata_list.append(adata)

# Concatenate all AnnData objects
adata_combined = ad.concat(adata_list, axis=0, label="batch", index_unique=None)
print(f"Combined AnnData shape: {adata_combined.shape}")

# 3. Save the final merged object
adata_combined.write(output_path)
print(f"Saved to {output_path}")

### 3. QC/filtration

In [ ]:
# adata = ad.read_h5ad(adata_path)

In [ ]:
adata = adata_blood.copy()

In [ ]:
import scanpy as sc

sc.pp.calculate_qc_metrics(adata, inplace=True)

if adata.raw is None:
    adata.raw = adata.copy()
    sc.pp.normalize_total(adata, target_sum=1e4)
    sc.pp.log1p(adata)


sc.pp.highly_variable_genes(adata, n_top_genes=2000, subset=True)

sc.pp.regress_out(adata, keys=['total_counts'])

sc.pp.scale(adata)

sc.tl.pca(adata, svd_solver='arpack')
sc.pp.neighbors(adata, n_neighbors=15, n_pcs=50)
sc.tl.tsne(adata)

sc.pl.tsne(adata, color='cell_type')

In [ ]:
sc.pl.tsne(adata, color='cell_type')

In [ ]:
sc.pl.violin(
    adata,
    keys="total_counts",
    groupby="assay",
    rotation=90,
    stripplot=False,
    show=False,
    save="_umis_by_assay.png"
)

In [ ]:
import matplotlib
matplotlib.use("Agg")  # use non-interactive backend
import scanpy as sc
import matplotlib.pyplot as plt

sc.pl.tsne(adata, color='cell_type', show=False)
plt.savefig("tsne_plot.png")  # save manually

### 4. Integrate datasets

use this method? https://onlinelibrary.wiley.com/doi/10.15302/J-QB-022-0304  
or perhaps: https://pmc.ncbi.nlm.nih.gov/articles/PMC12013815/

ontology: simply use chatgpt to create some mappings

In [ ]:
from pathlib import Path

import pandas as pd
import scanpy as sc
import sctools as sct
from tqdm import tqdm

cellranger_ensembl2gene = sct.pp.get_cellranger_ensembl_to_gene()
cellranger_gene2ensembl = {g:e for e,g in cellranger_ensembl2gene.items()}

genes = pd.read_csv(Path(__file__).parent.parent / "data" / "10x_fixed_vocab.txt", header=None)[0].to_list()

adatas = [
    ('gs://retro-postprocessed/luo2022/luo2022_rmt.h5ad', 'cellbender'),
    ('gs://retro-postprocessed/hao2021/hao2021_rmt.h5ad', None),
    ('gs://retro-postprocessed/imyoo2023/imyoo2023_rmt.h5ad', 'cellbender'),
    ('gs://retro-postprocessed/tabula_sapiens/tabula_sapiens_blood_rmt.h5ad', 'decontX'),
    ('gs://retro-postprocessed/ren2021/ren2021_rmt.h5ad', None),
    ('gs://retro-postprocessed/aida2023/aida2023_rmt.h5ad', None),
    ('gs://retro-postprocessed/terekhova2023/terekhova2023_rmt.h5ad', None),
    # ('gs://retro-postprocessed/perez2022/perez2022_rmt.h5ad', 'cellbender'),
    # ('gs://retro-postprocessed/yazar2022/yazar2022_rmt.h5ad', 'cellbender'),
    # ('gs://retro-postprocessed/soskic2021/soskic2021_rmt.h5ad', None),
    # ('gs://retro-postprocessed/stephenson2021/stephenson2021_rmt.h5ad', None),
]

adata = None
subset_rmt = False
min_genes = 500
max_genes = 5000

for remote_path, layer in tqdm(adatas):
    adata_ = sct.io.read_adata(remote_path, overwrite=True)
    if layer is not None:
        adata_.X = adata_.layers[layer]
    if subset_rmt:
        print("Subsetting rmt")
        sct.tools.random_matrix.varm_subset(adata_)
        del adata_.varm
    del adata_.layers
    print("Concat")
    if adata is None:
        adata = adata_
    else:
        adata = sc.concat([adata, adata_], join='outer', index_unique='-')

adata.var.index.name = 'ensembl_gene_id'
adata.var['gene_symbol'] = adata.var.index.map(cellranger_ensembl2gene)

subset_min, _ = sc.pp.filter_cells(
    adata[:, list(set(adata.var_names.to_list()) & set(genes))], 
    min_genes=min_genes,
    inplace=False
)
subset_max, _ = sc.pp.filter_cells(
    adata[:, list(set(adata.var_names.to_list()) & set(genes))], 
    max_genes=max_genes,
    inplace=False
)

adata[subset_min & subset_max].write_h5ad('/data/rico/pbmc_concat_new.h5ad')